# Jupyter Notebook

* See the notebook intro from this week [here](https://github.com/bairdlangenbrunner/ESS-Python-Tutorial/blob/master/materials/week2/1-jupyter-notebook-intro.ipynb).
* You can shut a notebook down by closing browser windows and, from the terminal shell, typing ```ctrl``` + ```c``` twice.

# Quick Python introduction

The [official Python tutorial](https://docs.python.org/3/tutorial/) is very informative, and most of the info below follows it, more or less...

In [1]:
2+2

4

In [2]:
(70 - (5*6)) / 4

10.0

## Floats versus integers

Python is a high-level language, and there are **no variable declarations** (Python does this implicitly).

* Numbers like ```2``` and ```4``` are interpreted as type **```int```**, and numbers with decimals (```62.5```, ```10.0```) are type **```float```**.
* Division **``` / ```** always returns a floating point number
* Get the type of a number or Python object using ```type()```

In [3]:
2/2

1.0

In [4]:
type(2/2)

float

In [5]:
2/1

2.0

## Powers in Python

To raise something to a power, use a double asterisk:  __```**```__

To ensure your numbers are interpreted as **```float```** types, good practice is to always use decimals in at least one number:

In [6]:
5**2

25

In [7]:
5**2.0

25.0

In [8]:
5.**2

25.0

## Assigning and printing

* Assign variables using the ```=``` sign

* Print variables using the ```print()``` function

In [9]:
width = 5.0
height = 7.0
area = width*height
print(area)

35.0

Note that Python supports very compact, __in-place__ variable manipulation, allowing for ```+=```, ```-=```, ```*=```, and ```/=```

## ==========> NOW YOU TRY <==========
* Switch between lines 6 and 7 below and mess around with the compact addition, subtraction, multiplication, and division notation
* __NOTE:__ Python commends are preceded by the ```#``` sign, or you can enclose text ```'''between three quotes'''```

In [10]:
# comment
""" also a comment """
''' also ALSO a comment '''

width = 5.0
width = width+5
#width += 5
print(width)

10.0

## Strings

Variables can also be assigned as strings when you enclose them in quotes.  __You can use single OR double quotes.__

In [11]:
string1 = 'pants'
print(string1)

pants

Multiplying and adding strings repeats them...

In [12]:
print(string1*3)
print(string1+string1+string1)

pantspantspants
pantspantspants

* Strings can also be indexed
* __NOTE:  Python has zero indexing__

In [13]:
string1[0]

'p'

In [14]:
string1[1]

'a'

You can also index backwards in Python:  index ```-1``` is the last one:

In [15]:
string1[-1]

's'

In [16]:
string1[-3]

'n'

## Lists

* This is a versatile way of creating compound data types
* Indexing works in a similar way as above
* Create a list by enclosing comma-separated items in square brackets

In [17]:
empty_list = []

In [18]:
list1 = [0,1,2,3,4,5,6,7,8,9]

In [19]:
print(empty_list)
print(list1)

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
print(list1[0])

0

In [21]:
print(list1[-3])

7

### Slicing lists

Slicing operations return new lists.

In [22]:
list1[3:] # note index 3 is the FOURTH element, since indexing starts at zero

[3, 4, 5, 6, 7, 8, 9]

### Appending to lists

Add to the end of a list by using the ```append()``` method.

__Note ```list1``` is an "object" in python and has methods that can be accessed via the ```.``` syntax__

In [23]:
list1.append(234)

In [24]:
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 234]

### Assigning and replacing list values

* You can also assign specific values, or do this to slices
* Lists can contain mixed data types

In [25]:
list2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(list2)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [26]:
list2[0:2] = 17,18
print(list2)

[17, 18, 'c', 'd', 'e', 'f', 'g']

## ==========> NOW YOU TRY <==========
* Replace the zeroth position of ```list1``` with your first name (as a ```'string'```)
* Append your last name to the end of ```list1```

* You can "pop" an element out of a list, as well, by specifying its index
* Now delete your first name from the list by using ```list1.pop(index)```

### Getting the length of a list

Use the ```len()``` function to get the length of a list.

In [27]:
len(list1)

11

In [28]:
len(list2)

7

### The ```range()```  and ```list()``` functions

* **```range()```** is a function that creates an *internal* list (i.e., an [iterator](https://wiki.python.org/moin/Iterator) of numbers)

* ```range(N)``` will go FROM ```0``` TO ```N-1``` and will have exactly ```N``` elements

In [29]:
print(range(5)) # goes from 0 to 4 inclusive
print(type(range(5)))

range(0, 5)
<class 'range'>

* Note it returns a range iterator object
* You can convert this into a Python list by using the **```list()```** function:

In [30]:
list(range(5))

[0, 1, 2, 3, 4]

The **```range()```** function takes at most 3 arguments:  start, stop, and interval.

In [31]:
list(range(2,5)) # start, stop

[2, 3, 4]

## ==========> Question:  Why does the output below not include 50? <==========

In [32]:
list(range(0,50,5)) # start, stop, interval

#list(range(0,51,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

## For loops

* Python does not require ```end``` statements or semicolons.  Instead, the use of spacing in the loops implicitly tells python where they begin and end.  Manually insert (4) spaces (or use a ```tab``` on the keyboard) to struture a loop

* All output in Python is suppressed automatically, unless you choose to ```print()``` it.  This means you don't need semicolons at the end of lines, and you'll get an error if you do.

* Loops can begin with **```for```** and **```while```**.  Other statements, such as **```else```**, **```if```**, and **```elif```** also exist.  Note **```elif```** and **```else if```** are equivalent and both acceptable.

* Note **```range()```** can be used in combination with the **```len()```** or other functions to make looping more streamlined

* Information on all statements useful in loops can be found there, including
**```if```**, **```for```**, **```break```**, **```continue```**, **```pass```**, and more

In [33]:
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [34]:
for i in range(7):
    print(weekdays[i])

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

* Logicals are straightforward:  ```>```, ```>=```, ```<```, ```<=```, ```==```, ```!=```

In [35]:
i = 0
while i < 7:
    if i==4:
        print("   w00t it's Friday")
    else:
        print(weekdays[i])
    i += 1

Monday
Tuesday
Wednesday
Thursday
   w00t it's Friday
Saturday
Sunday

* Use ```len(list)``` for looping over indices:

In [36]:
for i in range(len(weekdays)):
    print(i, weekdays[i])

0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday

* You can also simply loop over the list itself:

In [37]:
for i in weekdays:
    print(i)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

## Defining functions (an example with the Fibonacci series)

*image from [Wikipedia](https://en.wikipedia.org/wiki/Fibonacci_number)*

![Fibonacci series](https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/PascalTriangleFibanacci.svg/360px-PascalTriangleFibanacci.svg.png)

In [38]:
a,b = 0,1 # note multiple assignments in one line
while b<10:
    print(b)
    a,b = b,a+b

1
1
2
3
5
8

In [39]:
def fib(n):
    """
    Write a Fibonacci series up to AND INCLUDING integer n.
    Note this text is called a docstring.
    This is how python functions are documented.
    """ # <----- this is documentation for the function
    a,b = 0,1
    while a<n+1:
        print(a)
        a,b = b, a+b
fib(500)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [40]:
?fib

## ==========> NOW YOU TRY <==========

Can you write a function that _returns_ the Fibonacci series in a LIST?  The answer is at the bottom of this notebook

* More advanced information on defining functions can be found online at the [tutorial link](https://docs.python.org/3/tutorial/controlflow.html)

## The ```lambda``` keyword

Finally, the **```lambda```** keyword is very useful when defining functions.  __There's not enough time in this tutorial to go through all the uses of ```lambda```, but it's something you will likely come across when doing more advanced statistical function fitting.__

* In short, the **```lambda```** keyword will help you create anonymous functions (i.e., functions not bound to a name)

* Note the use of **```return```** here, as well.

In [41]:
def raise_to_power(n):
    """ This creates a polynomial that raises a number x to the nth power """
    return lambda x: x**n

In [42]:
f = raise_to_power(5)

In [43]:
f(0)

0

In [44]:
f(1)

1

In [45]:
f(2)

32

Also note the string after the **```def()```** statement above.  This is a *function annotation*, and anything enclosed in three quotes (**double** or **single**) will not be printed but is useful for multi-line documentation.

# Common data types in Python

See [Data Structures](https://docs.python.org/3/tutorial/datastructures.html) in the official Python documentation for more information

* integer ```a=1```

* float ```b=1.``` or ```b=1.0```

* list ```c=[1,2,3,4]```

* tuple ```d=(1,2)```
  * Like a list, but can't be changed once it's created

* dictionary ```dict1 = {'a':1, 'b':1.0, 'c':[1,2,3,4], 'd':(1,2) }```
  * Can store mixed data types
  * Unordered set of ```key:value``` pairs

In [46]:
dict1 = {'a':1, 'b':1.0, 'c':[1,2,3,4], 2:(1,2)}

In [47]:
print(dict1.keys())
print(dict1['c'])
print(dict1[2])

dict_keys(['a', 'b', 'c', 2])
[1, 2, 3, 4]
(1, 2)

* You can also create an empty dictionary with ```dict1 = {}``` (overwriting the original):

In [48]:
dict1 = {}

* And then fill it with whatever key you want

In [49]:
dict1['a'] = 1e30
dict1[5] = 'pants'

In [50]:
dict1.keys()

dict_keys(['a', 5])

#### [One possible] answer to Fibonacci series question

In [51]:
# def fib(n):
#     fib_list = []
#     a,b = 0,1
#     fib_list.append(a)
#     while a<n+1:
#         a,b = b, a+b
#         fib_list.append(a)
#     return(fib_list)